body {
    background:#8E9EBF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 30%;
    padding: 10px;
    margin: 10px; 
    margin-bottom: 30px;
    background: #56759C;
    border-radius: 5px;
    box-shadow: 5px 8px #0D0D0D;
}

.assignment img {
    width: 200px;
    border: 2px solid #062540;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.assignment a:hover {
    color: #8E9EBF;
}

h1 {
    color:#0D0D0D;
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration:none;
    color:#0D0D0D;
}